node_modules/
.DS_Store
article-template/
src/fonts/
src/output-dev.css
src/output-*.css
src/.output-temp.css

/_cache/*
!/_cache/.htaccess
!/_cache/.gitkeep

dist/
/dist/*

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.vscode/
